.player-container{
    position: fixed;
    border: 1px solid black;
    width: 20em;
    padding: 1em;
    justify-content: center;
    border-radius: 0.5em;
    bottom: 1em;
    right: 1em;
}

.player-image{
    width: 20em;
}

.track-duration{
    display: flex;
    padding: 1em;
    gap: 1em;
    align-items: center;
}

.play-button{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.progress-bar{
    -webkit-appearance: none !important;
    background: #989898;
    width: 23em;
    height: 0.2em;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none !important;
    background: #303030;
    height:0.7em;
    width:0.7em;
    border-radius: 50%;
}