.search-bar-container{
    position: fixed;
    top: 1%;
    left: 45%;
    width: 15em;
    display: flex;
    justify-content: space-between;
    border-radius: 2em;
    margin-bottom: 1em;
    background-color: #303030;

    button{
        border: none;
        border-radius: 60%;
        width: 2em;
        height: 2em;
        background-color: transparent;
        color: #f9e711;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }
    button:hover{
        background-color: #b68d00;
        color: #000000;
    }

    input{
        width: 14.5em;
        border: none;
        border-radius: 2em;
        background: #303030;
        color: white;
        padding-left: 1em;
    }
    input:focus{
        outline: none;
    }
}
.search-results-container{
    position: absolute;
    top: 9%;
    left: 45%;

}

.search-results{
    max-height: 37em;
    overflow-y: scroll;
    padding-right: 0.5em;
}

.search-results::-webkit-scrollbar {
    width: 6px;
}

.search-results::-webkit-scrollbar-track {
    background: transparent;
}

.search-results::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.search-results::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}