.track-card{
    width: 30em;
    height: 5em;
    display: flex;
    margin-bottom: 0.3em;
    border-radius: 1em;
    justify-content: space-around;
    background-color: #303030;
}

.track-card img{
    width: 5em;
    object-fit: fill;
    border-radius: 1em;
    border: #101010 solid 1px;
}

.track-card button{
    width: 2em;
    height: 2em;
    margin: 2em;
    border-radius: 50%;
    background-color: #f9e711;
    border: none;
}
.track-card button:hover{
    background-color: #b68d00;
    color: #000000;
}

.track-info{
    width: 20em;
    padding-left: 1em;
}

.track-name{
    font-weight: bold;
    font-size: 1.2em;
    padding: 0;
    margin-top: 0.5em;
}

